* {
    margin: 0;
    padding: 0;
}

nav{
    margin: 0;
    background-color: grey;
}

nav ul {
    float: left;   
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
    margin:10px
}

nav ul li a{
    display: block;
    color: white;
    font-size: 24px;
    padding: 18px 60px;
    text-decoration: none;
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: grey;
} 
nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    width: 200px;
}
nav ul li ul li a {
    padding: 20px 40px;
 }
nav ul li ul li a:hover {
    background-color: black;
}   