body {
    margin: 20px;
  }
  
  .sidebar {
      grid-area: sidebar;
    }
  
    .content {
      grid-area: content;
      position: relative;
    }
  
    .header {
      grid-area: header;
    }
    .name {
      text-align: center;
    }
  
    .footer {
      grid-area: footer;
      margin-bottom: 20px;
      text-align: center;
    }
  
  
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 32% 30% 34%;
      grid-template-areas:
      "name header header"
      "sidebar content content"
      "footer  footer  footer";
      background-color: #fff;
      color: #444;
    }
  
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
  }
  
  li{
    text-align: center;
  }
  .header,
  .footer {
    background-color: #999;
  }
  h1{
    text-align: center;
    text-decoration: underline;
  }
  header{
    padding: 25px;
  }
  p{
    font-size: 30px;
}
p::first-letter{
  font-size: 40px;
  font-style: italic;
}
a {
  text-align:center;
  display:block;
}
.picture{
  width: 100%;
}
.indentation{
  text-indent: 20px;
}
.content span{
  color: blue;
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 30px;
}

@media only screen and (max-width: 768px){
  .wrapper{
    display: grid;
    grid-template-columns: auto;
    background-color: green;
    color: aliceblue;
  }
  p{
    font-size: 20px;
  }
  p::first-letter{
  font-size: 23px;
  font-style: italic;
  }
  .content{
    font-size: 20px;
  }
  .content span{
    font-size: 20px;
    bottom: 10px;
  }
}


